<li class="card__wrapper">
  <a href="#" {{action "openModal"}}>
    <h3 class="card__title">{{card.title}}</h3>
  </a>

  {{modal-display card=card modalOpen=modalOpen onConfirm=(action "deleteCard") onSubmit=(action "cardSubmit")}}
</li>
