<div class="list__wrapper">
  <h3>{{list.title}}</h3>
  <ul>
    {{#each list.cards as |card| }}
      {{card-display card=card title=card.title description=card.description}}
    {{/each}}
  </ul>
</div>
