.modal {
  &__wrapper {
    transition: visibility 0s .4s, opacity .4s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    
    @at-root {
      .modal-open & {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity .4s;      
      }
    }
  }
  
  &__underlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .7;
  }
  
  &__inner-wrap {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-250px);
    width: 500px;
    background: white;
    border-radius: 2px;
    padding: 30px;
  }
  
  &__close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  &__input {
    display: block;
    width: 100%;
  }
}

.card {
  &__wrapper {
    opacity: 1;
    transition: opacity .8s ease-in-out;
    
    @at-root {
      .fading-out & {
        opacity: 0;
      }
    }
  }
}
