$blue: #0079bf;
$white: #fff;

// Resets
* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  margin-left: 0;
}
// End Resets


body {
  background: $blue;
  font-family: "Lato", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 60px;
  line-height: 40px;
  padding: 10px;
  box-sizing: border-box;
  background: $white;
  
  h3 {
    margin: 0;
  }
}

.page-wrap {
  margin-top: 60px;
  padding: 20px 0;
  height: calc(100vh - 70px);
}

.lists__wrapper {
  display: block;
  white-space: nowrap;
}

.list {
  &__wrapper {
    display: inline-block;
    vertical-align: top;
    background: lightgray;
    border-radius: 5px;
    padding: 20px 8px;
    margin: 0 15px;
    width: 240px;
    white-space: normal;
    
    &:first-child {
      margin-left: 0;
    }
  }
  
  &__title,
  &__edit {
    display: inline-block;
  }
  
  &__title {
    margin-top: 0;
    font-size: 14px;
    text-transform: uppercase;
    
    &--input {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  
  &__edit {
    float: right;
  }
}

.card {
  &__wrapper {
    background: $white;    
    border-radius: 5px;
    opacity: 1;
    transition: opacity .8s ease-in-out;
    margin: 25px 0;
    padding: 4px;
    
    @at-root {
      .fading-out & {
        opacity: 0;
      }
    }
    
    &:first-child {
      margin-top: 10px;
    }
  }
  
  &__link {
    text-decoration: none;
  }
  
  &__title {
    margin: 0;
  }
}

.modal {
  &__wrapper {
    transition: visibility 0s .4s, opacity .4s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    
    @at-root {
      .modal-open & {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity .4s;      
      }
    }
  }
  
  &__underlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .7;
  }
  
  &__inner-wrap {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-250px);
    width: 500px;
    background: white;
    border-radius: 2px;
    padding: 30px;
  }
  
  &__close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  &__input {
    display: block;
    width: 100%;
    
    &--submit,
    &--delete {
      margin-top: 20px;
      border-radius: 6px 6px 0 0;
      background: green;
      color: $white;
      border: 0;
      padding: 10px 5px;
      text-transform: uppercase;
      font-size: 16px;
      cursor: pointer;
    }
    
    &--delete {
      background: red;
      border-radius: 0 0 6px 6px;
      font-size: 10px;
      margin-top: 0;
      padding: 5px;
    }
  }
}

.input {
  &__wrapper {
    margin: 6px 0;
  }
  
  &__text {
    font-size: 11px;
    text-transform: uppercase;
  }
}

.new-list__button {
  color: white;
  font: 20px/24px "Lato";
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: $blue;
  padding: 10px;
}

.new-card__button {
  cursor: pointer;
}